extends layout


block content

  h1= title
  -
    let results = [
      {
        shape: "cat",
        weight: 8,
        cost: 9
      },
      {
        shape: "duck",
        weight: 42,
        cost: 92
      },
      {
        shape: "ketchup",
        weight: 1,
        cost: 3.47
      }
    ]
  div(class="container-fluid")
    div(class="row")
      each item in results
        div(class='col-sm-2') Shape: #{item["shape"]},<br> Weight: #{item["weight"]},<br> Cost: #{item["cost"]}
      
  
  script. 
    let divs = document.getElementsByClassName("col-sm-2")
    for(let i = 0; i < divs.length; i++){
      divs[i].onclick = "buy(i)"
    }
    function buy(i){
      alert(`You purchased item ${i}`)
    }
      
