extends layout
block content
    h1= title
    if (toShow == null)
        h2 No instance to delete
    else
        - let iceid = toShow._id
        - let shape = toShow.shape
        - let cost = toShow.cost
        - let weight = toShow.weight
        - let actionid = "/resource/ices/" + iceid
        script let actionid = "#{actionid}"
        div
            div.row
                div(class='iceAttr mr-3') ice ID is:
                div #{iceid}
            div.row
                div(class='iceAttr mr-3') ice shape is:
                div #{shape}
            div.row
                div(class='iceAttr mr-3') ice weight is:
                div #{weight}
            div.row
                div(class='iceAttr mr-3') ice Cost is:
                div #{cost}
        button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
        button(class="btn btn-secondary m-2" onclick="cancel()") Cancel
    script.
        function cancel() {
            // Go back to the home page for the ice collection
            window.location.href='/ices'
        }
    script.
        function deleteOnid() {
            console.log("starting delete")
            // delete first
            fetch(actionid, {
                method: 'DELETE'
                //Don't need a body for the delete
            }).then((resp) => {
                return resp.json(); // or resp.text() or whatever the server sends
            }).then((body) => {
            alert("Delete succeded")
                window.location.href='/ices'
                // TODO handle body
            }).catch((error) => {
                // TODO handle error
                alert("Delete failed " + error )
            });
        }
